<div class="main-bg">
  <h1 class="main-title">Catch the Balls</h1>
  <div class="main-flex">
    <div class="left-panel">
      <app-settings-form></app-settings-form>
      <ul class="info">
        <li>To move the player, use the left and right arrow keys.</li>
        <li>To control the player, remove the cursor carrot from field</li>
      </ul>
    </div>
    <div class="right-panel">
      <app-score-display></app-score-display>
      <app-game-board></app-game-board>
    </div>
  </div>
</div>
